@inject IStringLocalizer< WAHShopForntend.Resources.CategoryNav> L

<div class="categoryNav">
    @if (!string.IsNullOrEmpty(activeDropdownId))
    {
        <div class="backdrop" @onclick='() => ToggleDropdown(null!)'></div>
    }
    @if (categoryService.DownloadedCategories!= null && categoryService.DownloadedCategories.Count > 0)
    {
        @* foodstuffs *@
        <div class="dropdown @(activeDropdownId == "foodstuffs" ? "active" : "")">
            <button class="dropdownButton" @onclick='() => ToggleDropdown("foodstuffs")'>▼ @L["foodstuffs"]</button>
            <div class="dropdownMenu">
                @{
                    var foodstuffsArray = GetFoodstuffs();
                    if (foodstuffsArray != null)
                    {
                        for (int i = 0; i < foodstuffsArray.Count; i += 5)
                        {
                            <ul class="column">
                                @for (int j = i; j < i + 5 && j < foodstuffsArray.Count; j++)
                                {
                                    var category = foodstuffsArray[j];

                                    <li @onclick="() => OnCategory(category.Id)"
                                    class="categoryLink @(category.Id == currentCategoryId ? "selected" : "")">
                                        @(
                                    System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
                                                                                ? category.Name_ar
                                                                                : category.Name_de)
                                    </li>
                                }
                            </ul>
                        }

                    }
                }
            </div>
        </div>
        @* drinks *@
        <div class="dropdown @(activeDropdownId == "drinks" ? "active" : "")">
            <button class="dropdownButton" @onclick='() => ToggleDropdown("drinks")'>▼ @L["drinks"]</button>
            <div class="dropdownMenu">

                @{
                    var drinksArray = GetDrinks();
                    if (drinksArray != null)
                    {
                        for (int i = 0; i < drinksArray.Count; i += 5)
                        {
                            <ul class="column">
                                @for (int j = i; j < i + 5 && j < drinksArray.Count; j++)
                                {
                                    var category = drinksArray[j];
                                    <li @onclick="() => OnCategory(category.Id)"
                                    class="categoryLink @(category.Id == currentCategoryId ? "selected" : "")">
                                        @(
                                    System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
                                                                ? category.Name_ar
                                                                : category.Name_de
                                                                )
                                    </li>
                                }
                            </ul>
                        }

                    }
                }
            </div>
        </div>
        @* SweetsSnacks *@
        <div class="dropdown @(activeDropdownId == "sweetsSnacks" ? "active" : "")">
            <button class="dropdownButton" @onclick='() => ToggleDropdown("sweetsSnacks")'>▼ @L["SweetsSnacks"]</button>
            <div class="dropdownMenu">
                @{
                    var SweetsSnacksArray = GetSweetsSnacks();
					if (SweetsSnacksArray != null)
					{
                     for (int i = 0; i < SweetsSnacksArray.Count; i += 5)
                     {
                        <ul class="column">
                            @for (int j = i; j < i + 5 && j < SweetsSnacksArray.Count; j++)
                            {
                                var category = SweetsSnacksArray[j];
                                <li @onclick="() => OnCategory(category.Id)"
                                class="categoryLink @(category.Id == currentCategoryId ? "selected" : "")">
                                    @(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
                                                    ? category.Name_ar
                                                    : category.Name_de)
                                </li>
                            }
                        </ul>
                        }
                     }
                }
            </div>
        </div>
        @* Fleische *@
        <div class="dropdown @(activeDropdownId == "meats" ? "active" : "")">
            <button class="dropdownButton" @onclick='() => ToggleDropdown("meats")'>▼ @L["Meats"]</button>
            <div class="dropdownMenu">
                @{
                    var Mates = GetMeats();
                    if (Mates != null)
                    {
                        for (int i = 0; i < Mates.Count; i += 5)
                        {
                            <ul class="column">
                                @for (int j = i; j < i + 5 && j < Mates.Count; j++)
                                {
                                    var category = Mates[j];
                                    <li @onclick="() => OnCategory(category.Id)"
                                        class="categoryLink @(category.Id == currentCategoryId ? "selected" : "")">
                                        @(
                                        System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
                                        ? category.Name_ar
                                        : category.Name_de
                                            )
                                    </li>
                                }
                            </ul>
                        }
                    }
                }
            </div>
        </div>
        @* Household *@
        var householdCategory = GetHousehold();
        if (householdCategory != null)
        {
            <a @onclick="() => OnCategory(householdCategory.Id)"
               class="categoryLink @(householdCategory.Id == currentCategoryId ? "selected" : "")">
                @(
                             System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
                    ? householdCategory.Name_ar
                    : householdCategory.Name_de
                            )
            </a>
        }
        @* Dates *@
        var DatesCategory = GetDates();
        if (DatesCategory != null)
        {
            <a @onclick="() => OnCategory(DatesCategory.Id)"
               class="categoryLink @(DatesCategory.Id == currentCategoryId ? "selected" : "")">
                @(
                    System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
                    ? DatesCategory.Name_ar
                    : DatesCategory.Name_de
                    )
            </a>
        }
        @* Other *@
        var otherCategory = GetOther();
        if (otherCategory != null)
        {
            <a @onclick="() => OnCategory(otherCategory.Id)"
               class="categoryLink @(otherCategory.Id == currentCategoryId ? "selected" : "")">
                @(
                System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
                    ? otherCategory.Name_ar
                    : otherCategory.Name_de
                                            )
            </a>
        }
        @* Im Angebot *@
        <a @onclick="() => OnCategory(-1)"
           class="categoryLinkOnOffer @(currentCategoryId == -1 ? "selected" : "")">
            @L["OnOffer"]
        </a>
    }
</div>
@code {

    private int currentCategoryId = 0;
    protected override async Task OnInitializedAsync()
    {
        await categoryService.GetAllCategoriesAsync();

        // get the current category id from the URL
        var uri = new Uri(NavigationManager.Uri);
        var segments = uri.Segments;

        if (segments.Length > 2 && segments[1].TrimEnd('/') == "ProductsByCategory")
        {
            //Holen Sie sich das Teil vom Link
            var rawId = segments[2].Trim('/');
            // Entfernen Sie alle versteckten Symbole (wie U+200F oder U+202B)
            rawId = new string(rawId.Where(ch => char.IsDigit(ch) || ch == '-').ToArray());

            if (!int.TryParse(rawId, System.Globalization.NumberStyles.Integer, System.Globalization.CultureInfo.InvariantCulture, out currentCategoryId))
                currentCategoryId = 0;
        }
        else
        {
            currentCategoryId = 0;
        }

    }
    private void OnCategory(int categoryId)
    {
        NavigationManager.NavigateTo($"/ProductsByCategory/{categoryId.ToString(System.Globalization.CultureInfo.InvariantCulture)}", true);
    }
    // 
    private List<Categories> GetFoodstuffs()
    {
        return categoryService.DownloadedCategories?
                    .Where(c =>
                    (c.Id >= 9 && c.Id <= 13) ||
                    (c.Id >= 15 && c.Id <= 19) ||
                    (c.Id == 21) ||
                    (c.Id >= 24 && c.Id <= 29) || 
                    (c.Id == 38))
                    .ToList() ?? null!;
    }
    private List<Categories> GetDrinks()
    {
        return categoryService.DownloadedCategories?
                    .Where(c =>
                    (c.Id >= 6 && c.Id <= 7) ||
                    (c.Id == 14) ||
                    (c.Id == 23))
                    .ToList() ?? null!;
    }
    private List<Categories> GetSweetsSnacks()
    {
        return categoryService.DownloadedCategories?
                    .Where(c =>
                    (c.Id == 8) ||
                    (c.Id >= 30 && c.Id <= 31) ||
                    (c.Id == 33) || 
                    (c.Id == 39))
                    .ToList() ?? null!;
    }
	private List<Categories> GetMeats()
	{
        var ids = new List<int> { 34, 35, 36 };
		return categoryService.DownloadedCategories?
					.Where(c => ids.Contains(c.Id))
					.ToList() ?? null!;
	}
    private Categories GetOther()
    {
        return categoryService.DownloadedCategories?
                    .FirstOrDefault(c => c.Id == 32) ?? null!;
    }
    private Categories GetHousehold()
	{
		return categoryService.DownloadedCategories?
					.FirstOrDefault(c => c.Id == 40) ?? null!;
	}

    private Categories GetDates()
    {
        return categoryService.DownloadedCategories?
                    .FirstOrDefault(c => c.Id == 41) ?? null!;
    }

    /**/
    private string? activeDropdownId = null;

    private void ToggleDropdown(string id)
    {
        activeDropdownId = (activeDropdownId == id) ? null : id;
    }
}
