@inject IStringLocalizer< WAHShopForntend.Resources.Footer> L

<footer class="footer" id="page-footer">
	<ProjektLogo />
	<div class="contactDiv">
		<h3>@L["Contact"]</h3>
		<p @onclick="OnOpenMap"><i class="bi bi-geo-alt" /><span>@ProjectInfo.Value.Address</span></p>
		<p><i class="bi bi-envelope" /><span>@ProjectInfo.Value.Email</span></p>
		<p @onclick="OnOpenWhatsApp"><i class="bi bi-telephone" /><span>@ProjectInfo.Value.Whatsapp</span></p>
	</div>
	<div class="socialMedia">
		<h3>@L["FollowUs"]</h3>
		<div class="icons">
			<a href="@ProjectInfo.Value.Facebook" target="_blank" rel="noopener noreferrer">
				<i class="bi bi-facebook" style="color:#1877F2" alt="Facebook Icon"></i>
			</a>
			<a href="@ProjectInfo.Value.Instagram" target="_blank" rel="noopener noreferrer">
				<i class="bi bi-instagram" style="color:#E4405F" alt="Instagram Icon"></i>
			</a>
		</div>
	</div>
	<div class="linksDiv">
		<h3>@L["Links"]</h3>
		<a href="/">@L["Home"]</a>
		<a href="/privacypolicy">@L["PrivacyPolicy"]</a>
		<a href="/impressum">@L["Impressum"]</a>
		<a href="/rightOfWithdrawal">@L["RightOfWithdrawal"]</a>
		<a href="/agb">@L["Agb"]</a>
		<a href="/ourdeliveryservice">@L["OurDeliveryServiceInformation"]</a>
	</div>
	<div class="mapDiv">
		<h3>@L["Location"]</h3>
		<a href="https://www.google.com/maps?q=@ProjectInfo.Value.Latitude,@ProjectInfo.Value.Longitude"
		target="_blank"
		title="In Google Maps öffnen">
			<iframe class="iframe" src="https://www.google.com/maps?q=@ProjectInfo.Value.Latitude,@ProjectInfo.Value.Longitude&output=embed"
			style="border:0; border-radius:8px;"
			allowfullscreen
			loading="lazy">
			</iframe>
		</a>
	</div>
</footer>

@code {
	private async Task OnOpenWhatsApp()
	{
		await JS.InvokeVoidAsync("whatsappRedirect.openWhatsApp", ProjectInfo.Value.Whatsapp, " ");
	}
	private async Task OnOpenMap()
	{
		try
		{
			await JS.InvokeVoidAsync("mapRedirect.openMap", ProjectInfo.Value.Latitude, ProjectInfo.Value.Longitude,ProjectInfo.Value.Address + ProjectInfo.Value.Name);
		}
		catch(Exception ex)
		{
			Console.WriteLine($"Error opening map: {ex.Message}");
		}
	}
}
