@implements IDisposable
@using System.Globalization;
@using Microsoft.AspNetCore.Localization;
@inject IStringLocalizer< WAHShopForntend.Resources.Header> L


<header class="header ltr-section">
    <div class="containerLeft">
        <ProjektLogo />
    </div>
    <div class="containerCenter">
        @* Search *@
        <div class="searchBox">
            <InputText class="form-control searchInput rtl-right" style="height: 40px; font-size: 1rem;" @onfocus="OnSearchInputFocus" @onblur="OnSearchInputBlur" @bind-Value="searchText" placeholder="@L["ProductSearch"]" @oninput="SearchProducts" />
            @if (IsSearching)
            {
                <p class="searchDropdown">Suche läuft...</p>
            }
            else if (isDropdownOpen)
            {
                @if (searchProducts?.Any() == true)
                {
                    <ul class="searchDropdown">
                        @foreach (var product in searchProducts)
                        {
                            <li @onclick="() => OnSelectedProduct(product.Id,searchText)">
                                <img src="@productImagesService.GetProductImageUrl(product.ProductImages.FirstOrDefault(i => i.IsMain)!)" loading="lazy" />
                                <strong>
                                    @(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar" 
                                                                        ?product.Name_ar
                                                                        : product.Name_de) </strong>
                            </li>
                        }
                    </ul>
                }
                else if (!string.IsNullOrWhiteSpace(searchText))
                {
                    <p class="searchDropdown">Keine Produkte gefunden.</p>
                }
            }
        </div>
    </div>
    <div class="containerRight">
        @*cart*@
        <div class="cart-icon position-relative" @onclick="NavigateToCart" style="cursor:pointer;">
            <img src="ProjectImages/cart.svg" alt="Cart" width="30" />
            @if (cartService.GetTotalQuantity() > 0)
            {
                <span class="badge bg-danger text-white position-absolute top-0 start-100 translate-middle rounded-pill">
                    @cartService.GetTotalQuantity()
                </span>
            }
        </div>
        @* Sprache *@
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle d-flex align-items-center gap-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="@(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar" ? "fi fi-sy" : "fi fi-de")" style="border-radius:2px;"></span>
            </button>
            <ul class="dropdown-menu dropdownMenu rtl-right" aria-labelledby="dropdownMenuButton">
                <li>
                    <a class="dropdown-item dropdownItem" @onclick="@(() => SetLanguage("de"))"><span class="fi fi-de"></span> Deutsch</a>
                </li>
                <li>
                    <a class="dropdown-item dropdownItem" @onclick="@(() => SetLanguage("ar"))"><span class="fi fi-sy"></span> عربي</a>
                </li>
            </ul>
        </div>
        @* Konto *@
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                @L["Account"]
            </button>
            <ul class="dropdown-menu dropdownMenu rtl-right" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item dropdownItem" @onclick="@(() => NavigationManager.NavigateTo("/", true))">@L["Home"]</a></li>
                <AuthorizeView>
                    <Authorized>
                        <li><a class="dropdown-item dropdownItem" href="/profile">@L["MyProfile"]</a></li>
                        <li><a class="dropdown-item dropdownItem" href="/orders">@L["MyOrders"]</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item dropdownItem" @onclick="Logout">@L["Logout"]</a></li>
                    </Authorized>
                    <NotAuthorized>
                        <li><a class="dropdown-item dropdownItem" @onclick="Login">@L["Login"]</a></li>
                    </NotAuthorized>
                </AuthorizeView>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item dropdownItem" href="/privacyPolicy">@L["PrivacyPolicy"]</a></li>

            </ul>
        </div>

    </div>
</header>

@code
{
    protected override void OnInitialized()
    {
        // event handler for cart changes
        cartService.OnChange += HandleCartChange;
    }
    private void HandleCartChange()
    {
        InvokeAsync(StateHasChanged);
    }

    private async Task Logout()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity?.IsAuthenticated == true)
        {
            await authService!.Logout();
            NavigationManager.NavigateTo("/", true);
        }
    }
    private void Login()
    {
        var fullUri = NavigationManager.Uri;
        var baseUri = NavigationManager.BaseUri;
        string currentPath = fullUri.Replace(baseUri, "/");
        NavigationManager.NavigateTo($"/login?returnUrl={currentPath}");
    }
    private void NavigateToCart()
    {
        NavigationManager.NavigateTo("/cart", false);
    }
    // search
    private List<Product> searchProducts = new();
    private string searchText = string.Empty;
    private bool IsSearching = false;
    private async Task SearchProducts(ChangeEventArgs e)
    {
        searchText = e.Value?.ToString() ?? "";
        if (string.IsNullOrWhiteSpace(searchText))
        {
            searchProducts.Clear();
            return;
        }
        IsSearching = true;
        // search first local
        await Task.Delay(200);
        searchProducts = searchService.SearchProductsLocal(searchText,new());
        if (searchProducts.Count == 0)
            // if local search returns no results, search from server
            searchProducts = await searchService.SearchProductsAsync(searchText, new ());
        IsSearching = false;
        StateHasChanged();
    }
    private bool isDropdownOpen = false;
    private async Task OnSearchInputFocus()
    {
        isDropdownOpen = true;
        await Task.Delay(100); // Delay to allow the dropdown to open
        StateHasChanged();
    }
    private async Task OnSearchInputBlur()
    {
        await Task.Delay(300); // Delay to allow click events to register
        isDropdownOpen = false;
        searchText = string.Empty; // Clear search text on blur
        StateHasChanged();
    }
    private void OnSelectedProduct(int productId, string searchText)
    {
        NavigationManager.NavigateTo($"/searchProducts/{productId}/{searchText}", true);
    }
    // language selection
    private async Task SetLanguage(string culture)
    {
        var sa = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
        // überprüfe ob der benutzer cookies akzeptiert hat
        bool hasAccepted = await cookieService.HasAcceptedAsync();
        if (hasAccepted)
        {
            await cookieService.SetLanguageAsync(culture,true);
        }
        else
        {
			// wenn der benutzer die cookies nicht akzeptiert hat, setze die culture nur für die aktuelle Sitzung
            var cultureInfo = new CultureInfo(culture);
            CultureInfo.DefaultThreadCurrentCulture = cultureInfo;
            CultureInfo.DefaultThreadCurrentUICulture = cultureInfo;
            CultureInfo.CurrentCulture = cultureInfo;
            CultureInfo.CurrentUICulture = cultureInfo;
        }
        // page reload to apply new culture
        NavigationManager.NavigateTo(NavigationManager.Uri,forceLoad: true);
    }
    public void Dispose()
    {
        cartService.OnChange -= HandleCartChange;
    }
}
