@using System.Globalization;
@using Microsoft.AspNetCore.Localization;
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName"
dir="@(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar" ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow">
    @* hreflang   *@
    <link rel="alternate" href="https://syriana-supermarkt.de/lang/ar" hreflang="ar">
    <link rel="alternate" href="https://syriana-supermarkt.de/lang/de" hreflang="de">
    <link rel="alternate" href="https://syriana-supermarkt.de" hreflang="x-default" />

    @*  *@
    <meta name="description" content="@(CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "ar" ? " اكتشف أفضل المنتجات العربية والسورية عبر الإنترنت. مواد غذائية، توابل، حلويات ومشروبات من سوريا والعالم العربي مع توصيل سريع." 
    : "Entdecken Sie die besten arabischen und syrischen Produkte online. Lebensmittel, Gewürze, Süßigkeiten und Getränke aus Syrien und der arabischen Welt mit schneller Lieferung.")">
    <meta name="keywords" content="@(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar" ? "منتجات عربية, منتجات سورية, سوريا, توابل, حلويات, متجر إلكتروني, تسوق أونلاين"
    :"arabische Produkte, syrische Lebensmittel, Syrien, Gewürze, Süßigkeiten, Online-Shop, Lebensmittel online")">
    <meta name="author" content="@(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar" ? "نضال وحود" : "Nedal Wahhoud")">
    @* Open Graph für Soziale Medien *@
    @{
        string currentLang = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
        string canonicalUrl = $"https://syriana-supermarkt.de/lang/{currentLang}";
		if (currentLang != "ar")
		{
			canonicalUrl = "https://syriana-supermarkt.de";
		}
    }
    <link rel="canonical" href="@canonicalUrl" />
    @* Tags zum Teilen *@
    <WAHShopForntend.Components.Layout.SeoHead />

    <base href="/" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icons/css/flag-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/WAHShopForntend.styles.css" />
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
    <link rel="icon" type="image/png" href="/ProjectImages/SyrianaSupermarktLogoOhneText.png" />
    <link rel="stylesheet" href="/app.css" />


    <title>@(CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "ar" ? "سيريانا سوبر ماركت" : "Syriana Supermarkt")</title>
    <HeadOutlet @rendermode="InteractiveServer" />
</head>


<body>
    @* 
      Vorrendering deaktivieren:
      Durch die Einstellung `prerender: false` verhindern wir, dass Blazor die Seite zweimal rendert (einmal als statisches HTML und einmal interaktiv).
      Dadurch wird das „Flackern“ beim Laden der Seite behoben und verhindert, dass der Code OnInitializedAsync zweimal ausgeführt wird.
      Allerdings kann dies die Geschwindigkeit, mit der primäre Inhalte in Suchmaschinen angezeigt werden (SEO), geringfügig beeinflussen.
    *@
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    <script src="_framework/blazor.server.js" autostart="false"></script>
    <script src="JS/script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>


</body>

</html>
