@using System.IdentityModel.Tokens.Jwt;
@using System.Security.Claims;
@inject IStringLocalizer< WAHShopForntend.Resources.customerDashboard> L
@page "/customerDashboard"


@if (IsLoading)
{
	<div class="w-100 card-body text-center text-info">
		Lädt...
	</div>
}
else
{

	<div class="mainContainer">
		<h1>@L["DebtsOf"] <strong>@(customer?.Name_de ?? "Fehler")</strong></h1>
		@* Schulden anzeigen *@
		<div class="card mb-3 shadow-sm">
			<div class="card-body text-center">
				<h5 class="text-muted mb-2">@L["CurrentAmount"]</h5>
				<h2 class=" @(debtCustomers?.Balance > 0 ? "text-danger" : "text-success")  fw-bold">
					@(debtCustomers?.Balance.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("de-DE")))
				</h2>
			</div>
		</div>
		@* transactions anzeigen *@
		<div class="transactions-container p-3 border rounded">
			<div class="table-responsive">
				<table class="table table-striped table-bordered mb-0">
					<thead class="table-dark">
						<tr>
							<th>@L["TransactionType"]</th>
							<th>@L["Amount"]</th>
							<th>@L["CreatedAt"]</th>
						</tr>
					</thead>
					<tbody>
						@if (transactionsCustomersService.DownloadedTransactionsCustomers != null && transactionsCustomersService.DownloadedTransactionsCustomers.Any())
						{
							foreach (var t in transactionsCustomersService.DownloadedTransactionsCustomers)
							{
								<tr>
									<td class="@(t.Type == TransactionType.Repay ? "text-success" : "text-danger")">@L[t.Type.ToString()]</td>
									<td>@t.Amount.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("de-DE"))</td>
									<td>@t.TransactionDate.ToString("g")</td>
								</tr>
							}
						}
						else
						{
							<tr>
								<td colspan="5" class="text-center">Keine Transaktionen gefunden.</td>
							</tr>
						}
					</tbody>
				</table>
			</div>

			<div class="d-flex justify-content-center mt-3">
				<button @onclick="OnMoreLoadTransactionsCustomers" class="btn btn-success"
				disabled="@(transactionsCustomersService.GetItems.AllItemsLoaded || IsProcessing)">
					@if (IsProcessing)
					{
						<span class="spinner-border spinner-border-sm"
						role="status"
						aria-hidden="true"></span>
					}
					else if (transactionsCustomersService.GetItems.AllItemsLoaded)
					{
						<span>@L["AllLoaded"]</span>
					}
					else
					{
						<span>@L["MoreLoading"]</span>
					}
				</button>
			</div>
		</div>
	</div>

}

@code {

	[Parameter]
	[SupplyParameterFromQuery] 
	public string token { get; set; } = string.Empty;

	private bool IsProcessing = false;
	private Customers customer = new();
	private DebtCustomers debtCustomers = null!;
	private bool IsLoading = false;
	protected override async Task OnInitializedAsync()
	{
		IsLoading = true;

		// wenn über url message token
		if (string.IsNullOrEmpty(token))
		{
			// wenn token null von url dann über login prüfen ob angemeldet
			token = await JS.InvokeAsync<string>("localStorage.getItem", "jwtCustomerToken");
		}
	
		if (string.IsNullOrEmpty(token))
		{
            // Nicht angemeldet und kein token in url → Weiterleitung zur Anmeldeseite
            NavigationManager.NavigateTo("/customerLogin");
            return;
        }

        // Auszüge aus den Ansprüchen von JWT
        int? customerIdFromToken = customersService.GetIdentity(token);

        if (customerIdFromToken == null)
        {
            NavigationManager.NavigateTo("/customerPortal");
            return;
        }

        //Jetzt sicher → Kundendaten abrufen
        customer = await customersService.GetCustomerByIdAsync(customerIdFromToken.Value);

		// Schulden des Kunden abrufen
        debtCustomers = await debtService.GetDebtCustomerByIdAsync(customerIdFromToken.Value);
        debtCustomers ??= new DebtCustomers { CustomerId = customerIdFromToken.Value, Balance = 0 };

		// Transaktionen des Kunden laden
		// initialize TransactionsCustomers list
		transactionsCustomersService.GetItems = new GetItems<TransactionsCustomers> { Id = customerIdFromToken.Value, PageSize = 10, };
        await OnMoreLoadTransactionsCustomers();
		IsLoading = false;
    }

    private async Task OnMoreLoadTransactionsCustomers()
    {
        IsProcessing = true;

        // Load more transactions
        await transactionsCustomersService.GetTransactionsCustomersAsync();

        IsProcessing = false;
    }
}
