@page "/forgotpassword"
@inject IStringLocalizer< WAHShopForntend.Resources.Forgotpassword> L

<div class="main">
	@if (!IsPasswordReset)
	{
		<div class="forgotPasswordHeader">
			<h2>@L["ResetPasswordText"]</h2>
			<p>@L["ResetPasswordInstruction"]</p>
			<EditForm Model="@forgotPassword" OnValidSubmit="HandleSubmit">
				<InputText @bind-Value="forgotPassword.Email" placeholder="@L["EmailPlaceholder"]" class="form-control" />
					<button type="submit" class="btn btn-primary" disabled="@IsLoading">
						@if (IsLoading)
						{
							<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
						<span class="ms-2">@L["Loading"]</span>
						}
						else
						{
						<span>@L["ResetPasswordText"]</span>
						}
					</button>
			</EditForm>
			<a href="/login" class="backToLogin">@L["BackToLogin"]</a>
		</div>
	}
	else
	{
		<div class="passwordRest">
			<h2>@L["PasswordSentMessage"]</h2>
			<p>@L["PleaseChangePassword"]</p>
			<EditForm Model="@forgotPassword" OnValidSubmit="HandleSubmitPasswordRest">
				<DataAnnotationsValidator />
				 <div class="form-group mt-3">
					<InputText type="password" @bind-Value="forgotPassword.EmailPassword" placeholder="@L["SentPasswordPlaceholder"]" class="form-control" />
				<ValidationMessage For="@(() => forgotPassword.EmailPassword)" />
				</div>
				 <div class="form-group mt-3">
					<InputText type="password" @bind-Value="forgotPassword.NewPassword" placeholder="@L["NewPasswordPlaceholder"]" class="form-control" />
				<ValidationMessage For="@(() => forgotPassword.NewPassword)" />
				</div>
				<div class="form-group mt-3">
					<InputText type="password" @bind-Value="forgotPassword.PasswordAgain" placeholder="@L["PasswordAgainPlaceholder"]" class="form-control" />
				<ValidationMessage For="@(() => forgotPassword.PasswordAgain)" />
				</div>
				<button type="submit" class="btn btn-primary" disabled="@IsLoading">
					@if (IsLoading)
					{
						<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
						<span class="ms-2">@L["Loading"]</span>
					}
					else
					{
						<span>@L["ResetPasswordText"]</span>
					}
				</button>
			</EditForm>
		</div>
	}
</div>
@code {
	private ForgotPassword forgotPassword = new();
	private bool IsPasswordReset { get; set; } = false;
	private bool IsLoading { get; set; } = false;
	private async void HandleSubmit()
	{
		IsLoading = true;
		EmailRequest emailRequest = new EmailRequest
			{
				ToEmail = forgotPassword.Email!,
				Subject = "Passwort zurücksetzen",
				// the will in backend generate body
				Body = ""!
			};
		var result = await emailService.ForgotpasswordSendEmailAsync(emailRequest);
		if (result == null || !result.Result)
		{
			_ = JS.InvokeVoidAsync("showAlert", "Fehler beim Senden der E-Mail. Bitte versuchen Sie es später erneut.");
			IsLoading = false;
			return;
		}
		_ = JS.InvokeVoidAsync("showAlert", "Neues Passwort zum Zurücksetzen des Passworts wurde an Ihre E-Mail-Adresse gesendet.");

		IsPasswordReset = true;
		IsLoading = false;
		StateHasChanged();
	}
	private async void HandleSubmitPasswordRest()
	{
		IsLoading = true;
		var result = await emailService.EmailPasswordRestAsync(forgotPassword);
		if (result == null || !result.Result)
		{
			_ = JS.InvokeVoidAsync("showAlert", result?.Message ?? "Fehler beim Zurücksetzen des Passworts. Bitte versuchen Sie es später erneut.");
			return;
		}
		_ = JS.InvokeVoidAsync("showAlert", "Ihr Passwort wurde erfolgreich zurückgesetzt.");
		IsPasswordReset = false;
		IsLoading = false;
		NavigationManager.NavigateTo("/login");
	}
}
