@page "/"
@namespace WAHShopForntend.Components.Layout
@inject IStringLocalizer<WAHShopForntend.Components.Layout.Index> L
@inherits LayoutComponentBase
@using System.Globalization;
@implements IDisposable

<HeadContent>
    <!-- Page Title -->
    <PageTitle>
        @(isArabic ? ProjectInfo.Value.NameArabic : ProjectInfo.Value.Name)
    </PageTitle>

    <!-- Meta Description -->
    <meta name="description" content="@(!isArabic
        ? "Entdecken Sie die besten arabischen Produkte online: Lebensmittel, Süßigkeiten, Gewürze und Getränke mit schneller Lieferung."
        : "اكتشف أفضل المنتجات العربية والسورية عبر الإنترنت: مواد غذائية، حلويات، توابل ومشروبات مع توصيل سريع.")" />

    <!-- Meta Keywords -->
    <meta name="keywords" content="@(!isArabic
        ? "arabisches Laden, arabische Lebensmittel, syrische Produkte, Lebensmittel online"
        : "متجر عربي, مواد غذائية, حلويات, توابل, متجر سوري, تسوق أونلاين")" />

</HeadContent>
@if (IsLoading)
{
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
            <span class="visually-hidden">Loading...</span>
        </div>
        <h5 class="mt-3 text-muted fw-light">@L["Loading"]</h5>
    </div>
}

@* carsousel images *@
@if (carouselImagesService.DownloadedCarouselImage.Count > 0)
{
    @if (!IsCarouselFullscreen)
    {
        <WAHShopForntend.Components.Layout.CarouselLayout OnHandel="HandleCarouselFullScreen" />
    }
    else if(IsCarouselFullscreen)
    {
        <WAHShopForntend.Components.Layout.FullscreenCarousel OnHandel="HandleCarouselFullScreen" />
    }
}
@* Category Abschnitte *@
<div class="divCategory">
    @foreach (var categoryGroup in mainProductByCategory)
    {
        // category
        var category = categoryGroup.Category;
        <div class="category" @key="category.Id">
            <a href="@(category.Id != 0 ? $"/ProductsByCategory/{category.Id}" : "javascript:void(0)")"
               class="categoryLinkIndex @(category.Id == -1 ? " text-danger" : (category.Id != 0 ? "" : "pe-none"))">
                <i class="bi bi-grid-fill"></i>
                <span>@(isArabic ? category.Name_ar : category.Name_de)</span>
            </a>
        </div>
        <div class="mainProductsCard">
            @foreach (var product in categoryGroup.Products)
            {
                // product
                <div class="productsCard" @key="product.Id">
                    <WAHShopForntend.Components.Layout.ShareLayout product="@product"/>
                    <WAHShopForntend.Components.Layout.ProductInfo ProductId="@product.Id" />
                    <WAHShopForntend.Components.Layout.AddDecresaseCard ProductId="@product.Id" />                 
                </div>
            }
        </div>
    }
</div>
@code{
    private GetItems<Product> getItems = new();
    private List<ProductByCategory> mainProductByCategory = new();
    private bool IsLoading = true;
    // to exclude categories already loaded in the main product list
    private List<int> excludeCategoriesIds = new();
    private List<Categories> allCategories = new();
	private bool isArabic = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar";
    private readonly Random random = new();

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;

        // get carousel images
        await carouselImagesService.GetAllCarouselAsync();

        // get all categories
        allCategories = categoryService.GetAllCategoriesLocal() ?? await categoryService.GetAllCategoriesAsync();
        // get on offer products
        await LoadOnOfferProducts(-1);
        // get recommended products
        List<Categories> categories = await categoryService.GetRandomCategories(2, excludeCategoriesIds, random);
        await LoadProductsRecommended(categories);
        // Diese Kategorien beim nächsten Ladevorgang ausschließen
        excludeCategoriesIds.AddRange(categories.Select(s => s.Id));

        IsLoading = false;
    }
    private DotNetObjectReference<Index>? objRef;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Das Donnet-Objekt für die Verwendung in JavaScript abrufen
            objRef = DotNetObjectReference.Create(this);
            // Eine kurze Verzögerung, um sicherzustellen, dass das ScrollContainer-Element vollständig im DOM gezeichnet wird.
            await Task.Delay(100);
            // Setzen Sie das Objekt von donNet in JavaScript und die ID:checkScrollEnd und rufen Sie die Funktion checkScrollEnd aus JavaScript ab.
            await JS.InvokeVoidAsync("scrollHelper.onScrollEnd", objRef);
            try
            {
                // Carousel automatisch laufen nach rended
                await JS.InvokeVoidAsync("initCarousel", "offersCarousel");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }
    }
    // recommended
    public async Task LoadProductsRecommended(List<Categories> categories)
    {
        ProductByCategory Recommended = new();
		List<int> excludeProductsIds = new();
        foreach (var category in categories)
        {

            // get products local
            var productsLocal =  categoryService.GetProductByCategoryIdLocal(category.Id);
            if (productsLocal != null && productsLocal.Count > 0)
            {
                // initialize CartItem for each product
                foreach (var p in productsLocal)
                {
                    p.InitializeCartItem(cartService.GetQuantityOfProduct(p.Id));
                    excludeProductsIds!.Add(p.Id);
                }
                Recommended.Products.AddRange(productsLocal);
            }
            // get products server
            var productsServer = await categoryService.GetProductsByCategoryIdAsync(category.Id, 5, false, excludeProductsIds);
            if (productsServer != null && productsServer.Items != null && productsServer.Items.Count > 0)
            {
                // initialize CartItem for each product
                foreach (var p in productsServer.Items)
                {
                    p.InitializeCartItem(cartService.GetQuantityOfProduct(p.Id));
                    //
                    excludeProductsIds!.Add(p.Id);
                }

                Recommended.Products.AddRange(productsServer.Items);

                // add to local Products list
                productService.AddProductToLocal(productsServer.Items);


            }
            else if (productsServer != null && productsServer.AllItemsLoaded)
            {

            }
        }
        // initialize to mainProductByCategory
        Categories categoryRecommended = new Categories()
            {
                Id = 0,
                Name_de = !isArabic ? L["RecommendedForYou"] : string.Empty,
                Name_ar = isArabic ? L["RecommendedForYou"] : string.Empty

            };
        if (Recommended.Products.Count == 0)
        {
            // if no products found, return
            return;
        }
        // wenn es schon ein angebot gibt, dann an 2. stelle einfügen
        if (mainProductByCategory.Count > 0 && mainProductByCategory[0].Category.Id == -1)
            mainProductByCategory.Insert(1, new ProductByCategory() { Category = categoryRecommended, Products = Recommended.Products });
        else
            // sonst an 1. stelle einfügen
            mainProductByCategory.Insert(0, new ProductByCategory() { Category = categoryRecommended, Products = Recommended.Products });
    }
    // random products by category
    public async Task LoadRandomProductsByCategory(List<Categories> Categories)
    {
        foreach (var category in Categories)
        {
            List<Product> allProducts = new();
			List<int> excludeProductsIds = new();
            // get products local
            var productsLocal =  categoryService.GetProductByCategoryIdLocal(category.Id);
            if (productsLocal != null && productsLocal.Count > 0)
            {
                // initialize CartItem for each product
                foreach (var p in productsLocal)
                {
                    p.InitializeCartItem(cartService.GetQuantityOfProduct(p.Id));
                    // 
                    excludeProductsIds!.Add(p.Id);
                }
                allProducts.AddRange(productsLocal);
            }

            // get products server
            var productsServer = await categoryService.GetProductsByCategoryIdAsync(category.Id, 5, false, excludeProductsIds);
            if (productsServer != null && productsServer.Items != null && productsServer.Items.Count > 0)
            {
                // initialize CartItem for each product
                foreach (var p in productsServer.Items)
                {
                    p.InitializeCartItem(cartService.GetQuantityOfProduct(p.Id));
                    // 
                    excludeProductsIds!.Add(p.Id);
                }

                allProducts.AddRange(productsServer.Items);

                // add to local Products list
           //     productService.AddProductToLocal(productsServer.Items);
            }
            else if (productsServer != null && productsServer.AllItemsLoaded)
            {

            }

            mainProductByCategory.Add(new ProductByCategory() { Category = category, Products = new List<Product>(allProducts) });
        }
    }
    // on offer products
    public async Task LoadOnOfferProducts(int categoryId)
    {
        List<Product> allProducts = new();
		List<int> excludeProductsIds = new();
        // get products local
        var productsLocal =  categoryService.GetProductByCategoryIdLocal(categoryId);
        if (productsLocal != null && productsLocal.Count > 0)
        {
            // initialize CartItem for each product
            foreach (var p in productsLocal)
            {
                p.InitializeCartItem(cartService.GetQuantityOfProduct(p.Id));
                //
                excludeProductsIds!.Add(p.Id);
            }
            allProducts.AddRange(productsLocal);
        }
        // get products server
        var productsServer = await categoryService.GetProductsByCategoryIdAsync(categoryId, 10, false, excludeProductsIds);
        if (productsServer != null && productsServer.Items != null && productsServer.Items.Count > 0)
        {
            // initialize CartItem for each product
            foreach (var p in productsServer.Items)
            {
                p.InitializeCartItem(cartService.GetQuantityOfProduct(p.Id));
                //
                excludeProductsIds!.Add(p.Id);
            }
            allProducts.AddRange(productsServer.Items);

            // add to local Products list
            productService.AddProductToLocal(productsServer.Items);
        }

        // add to mainProductByCategory
        if (allProducts.Count > 0)
            mainProductByCategory.Add(new ProductByCategory() { Category = new Categories() { Id = -1, Name_de = "Produkte im Angebot", Name_ar = "العروض", IsAktiv = true }, Products = allProducts });
    }
    // Scroll
    private bool IsScrollLoading = false;
    private static readonly SemaphoreSlim _scrollLock = new(1, 1);
    [JSInvokable]
    public async Task OnScrollEndReached()
    {
        if (!_scrollLock.Wait(0))
            return;
        try
        {
            if (IsScrollLoading == true)
                return;

            IsScrollLoading = true;
            if (allCategories.Count >= 1)
            {
                // get recommended products
                List<Categories> categories = await categoryService.GetRandomCategories(1, excludeCategoriesIds, random);
                // Diese Kategorien beim nächsten Ladevorgang ausschließen
                excludeCategoriesIds.AddRange(categories.Select(s => s.Id));
                // load random products
                await LoadRandomProductsByCategory(categories);
            }

            StateHasChanged();
        }
        finally
        {
            IsScrollLoading = false;
            _scrollLock.Release();
        }
    }
    public void Dispose()
    {
        objRef?.Dispose();
        objRef = null;
    }
	// carousel
	private bool IsCarouselFullscreen = false;
    private void HandleCarouselFullScreen(bool IsCarouselFullscreen1)
	{
        IsCarouselFullscreen = IsCarouselFullscreen1;
	}
}