@page "/login"
@inject IStringLocalizer< WAHShopForntend.Resources.Login> L

    <div class="loginContainer">
        <div class ="loginForm">
            <EditForm style="display:flex;flex-direction:column;gap:10px;" Model="@loginModel" OnValidSubmit="@HandleSubmit">
                <DataAnnotationsValidator />
                <h2 @onclick="OnProjectInfo">@ProjectInfo.Value.Name</h2>
                <h3>@L["Welcome"]</h3>
                <div class="form-group">
                    <InputText id="email" @bind-Value="loginModel.Email"
                    placeholder="@L["Email"]"
                    class="form-control" />
                    <ValidationMessage For="@(() => loginModel.Email)" />
                </div>
                <div class="form-group">
                    <div class="passwordDiv">
                        <InputText id="password" @bind-Value="loginModel.Password"
                        type="@passwordInputType"
                        placeholder="@L["Password"]"
                        class="form-control passwordInput" />

                        <button type="button"
                        class="eyeButton"
                        @onclick="TogglePasswordVisibility">
                            <i class="bi @(loginModel.PasswordVisibility ? "bi-eye-slash" : "bi-eye")"></i>
                        </button>
                    </div>
                    <ValidationMessage For="@(() => loginModel.Password)" />
                </div>
                <div class="RememberMe">
                    <InputCheckbox id="remember" @bind-Value="loginModel.RememberMe" />
                    <span>@L["RememberMe"]</span>
                </div>
                <button class="loginBtn" type="submit" disabled="@(isSingInLoading || isSingInLoading)">
                    @if (isSingInLoading)
                    {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    }
                    else
                    {
                      @L["LoginText"]
                    }
                </button>
            </EditForm>
            <button type="submit" @onclick="GoogleSingup" class="googleBtn" disabled="@(isGoogleLoading || isSingInLoading)">
                @if (isGoogleLoading)
				{
					<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
				}
				else
				{
                    <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" />
				}
                
            </button>
            <div>
                <p class="signup">
                    @L["NoAccountText"]
                    <a href="/signup"> @L["Register"]</a>
                </p>
            </div>
            <div>
                <p class="forgotPassword">
                    <a href="/forgotpassword">@L["ForgotPassword"]</a>
                </p>
            </div>
        </div>
    </div>

@code {
    private bool isSingInLoading = false;
	private bool isGoogleLoading = false;
    private LoginModel loginModel = new();
    // returns to the page where the user was before login
    [Parameter]
    [SupplyParameterFromQuery]
    public string? returnUrl { get; set; }
    private async Task HandleSubmit()
    {
        isSingInLoading = true;
        loginModel.SignupProvider = "Manual";
        var isLogged = await authService!.Login(loginModel, null!);
        if (isLogged.Result == true)
            NavigationManager!.NavigateTo(returnUrl ?? "/",true);
        else
        {
            _ = JS.InvokeVoidAsync("window.alert", isLogged.Message);
        }
        isSingInLoading = false;
    }
    private void OnProjectInfo()
    {
        NavigationManager.NavigateTo("/", false);
    }
    private void GoogleSingup()
    {
        isGoogleLoading = true;
        string currenApiUrl = AppConfig.Value.ApiBaseUrl;

        NavigationManager.NavigateTo($"{AppConfig.Value.GoogleApiUrl}?rememberMe={loginModel.RememberMe}", true);

        isGoogleLoading = false;
    }

    //
    private string passwordInputType => loginModel.PasswordVisibility ? "text" : "password";
    private void TogglePasswordVisibility()
    {
        loginModel.PasswordVisibility = !loginModel.PasswordVisibility;
    }
}
