@page "/orders"
@using System.Security.Claims
@inject IStringLocalizer< WAHShopForntend.Resources.Orders> L

@if (!IsRended)
{
    <div class="lodingContainer">
        <p>@L["Loading"] </p>
    </div>
}
else
{
    <div class="mainContainer">
    <h3>@L["MyOrders"]</h3>
    @if (@orderService.DownloadedOrders.Count <= 0)
    {
        <div class="emptyOrder">
            <p>@L["OrderEmptyMessage"]</p>
            <button class="btn btn-primary" @onclick="OnBackToShop">@L["BackToShopButton"]</button>
        </div>
    }
    else
    {
        <div class="orderContainer">
            @foreach (var order in orderService.DownloadedOrders)
            {
                <div class="order">
                    <div class="orderHeader">
                        <h3>@L["OrderNo"] @order.Id</h3>

                        <div class="statusDropdown" @onclick="() => ToggleDropdown(order)">
                            @if (order.ShowStatusDropdown)
                            {

                                <InputSelect Value="@order.StatusId"
                                ValueChanged="@((int val) => OnStatusChangedItem(order, val.ToString()))"
                                ValueExpression="() => order.StatusId"
                                class="form-select"
                                @onblur="() => OnDropdownBlur(order)"
                                disabled="@order.IsUpdatingStatus">
                                    @foreach (var status in PossibleStatuses)
                                    {
                                        <option value="@status.Id">@(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar" 
                                    ? status.StatusPresent_ar
                                    : status.StatusPresent_de)</option>
                                    }
                                </InputSelect>

                                @if (order.IsUpdatingStatus)
                                {
                                    <div class="spinner-border spinner-border-sm text-primary ms-2" role="status">
                                        <span class="visually-hidden">Laden...</span>
                                    </div>
                                }
                            }
                            else
                            {
                                <span class="status">
                                    @(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
                                                                                                        ? order.Status?.Status_ar
                                                                                                        : order.Status?.Status_de ?? L["Unknown"])
                                </span>
                            }
                        </div>
                    </div>
                    <p>
                        <span><strong>@L["PaymentMethod"]:</strong> @(System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "ar" 
                            ? order.PaymentMethod?.Description_ar : order.PaymentMethod?.Description_de ?? "Keine Angabe")</span>
                        @if (order.Address is not null)
                        {
                            <span><strong>@L["DeliveryAddress"]:</strong> @order.Address.Street, @order.Address.ZipCode, @order.Address.City</span>
                        }
                    </p>

                    <p class="orderMeta">
                        <span><strong>@L["OrderDate"]</strong> @order.OrderDate.ToString("dd.MM.yyyy HH:mm")</span>
                        @* Discount category *@
                        @if (order.DiscountCategory != null)
                        {
                            <span>
                                <strong>@L["Discount"]</strong>
                                @order.DiscountCategory.DiscountPercentage%
                            </span>
                            <span>
                                <strong>@L["MoneySaved"] @(System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "ar"
                                    ? order.DiscountCategory.Category.Name_ar : order.DiscountCategory.Category.Name_de ?? "Keine Angabe")</strong>
                                @GetDiscountedValue(order).ToString("C", new System.Globalization.CultureInfo("de-DE"))
                            </span>
                        }
                        @* Discount code *@
                        @if (order.DiscountCode != null)
                        {
                            <span>
                                <strong>@L["Discount"]</strong>
                                @order.DiscountCode.DiscountPercentage%

                            </span>
                            <span>
                                <strong>@L["MoneySaved"]</strong>
                                @GetDiscountedValue(order).ToString("C", new System.Globalization.CultureInfo("de-DE"))
                            </span>
                        }
                        @* TrackingNumber *@
                        @if (order.PaymentMethod?.Id == 5 && order.ShippingProviders != null && order.TrackingNumber != null)
                        {
                            <span>
                                <strong> @L["TrackingNumber"]</strong> <a style="text-decoration:none;" target="_blank" href="@($"{order.ShippingProviders.Website}sendungsinformation#{order.TrackingNumber}")">@order.TrackingNumber</a>
                            </span>
                        }
                        @* Endkosten *@
                        @{
                         double totalPrice = 0;
                         if(order.ShippingProviderId != null && order.ShippingProviderId > 0)
                         {
                            <span>
                                <strong>@L["ShippingCost"]</strong>
                                    @order.ShippingProviders?.PublicShippingCost.ToString("C", new System.Globalization.CultureInfo("de-DE"))
                            </span>
                                totalPrice = order.TotalPrice + order.ShippingProviders?.PublicShippingCost ?? 0;
                         }
                         else
								totalPrice = order.TotalPrice;

                            <span><strong>@L["TotalPrice"]</strong> @totalPrice.ToString("C", new System.Globalization.CultureInfo("de-DE"))</span>
                        }
                    </p>

                    @if (!string.IsNullOrWhiteSpace(order.Notes))
                    {
                        <span><strong>@L["Notes"]:</strong> @order.Notes</span>
                    }
                    @if (order.OrderItems?.Count > 0)
                    {
                        <div class="orderItems">
                            @foreach (var item in order.OrderItems)
                            {
                                <div class="orderItem">
                                    <img @onclick="() => OnProduct(item.ProductId)" src="@productImagesService.GetProductImageUrl(item.Product!.ProductImages.FirstOrDefault(i => i.IsMain)!)" loading="lazy" alt="@item.Product?.Name_de" />
                                    <div class="orderItemsDetails">
                                        <h4>
                                            @(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
                                                                   ? item.Product?.Name_ar
                                                                   : @item.Product?.Name_de)
                                        </h4>
                                        <p>@(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar" 
                                                                      ?item.Product?.Description_ar
                                                                      : item.Product?.Description_de)</p>
                                        <p>
                                            @L["Price"]: @item.Product?.SalePrice.ToString("C", new System.Globalization.CultureInfo("de-DE"))
                                            &nbsp; | &nbsp;
                                            @L["Quantity"]: @item.Quantity
                                            &nbsp; | &nbsp;
                                            <strong>@L["Total"]: @((item.Product?.SalePrice * item.Quantity ?? 0).ToString("C", new System.Globalization.CultureInfo("de-DE")))</strong>
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            }
            <button type="submit" class="btn btn-primary" @onclick="OnMoreLoad" disabled="@(IsOrdersLoading || AllItemsLoaded)">
                @if (IsOrdersLoading)
                {
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="ms-2">@L["Loading"]</span>
                }
                else if (!AllItemsLoaded)
                {
                    <span>@L["LoadMore"]</span>
                }
                @if (AllItemsLoaded)
                {
                    <span>@L["AllLoaded"]</span>
                }
            </button>
        </div>
    }
    </div>
}
@code {
    private bool IsRended = false;
    private int UserId = 0;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender == true)
        {
            var authState = await AuthStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            if (user.Identity?.IsAuthenticated == true)
            {
                string userIdString = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value!;
                if (!string.IsNullOrEmpty(userIdString))
                {
                    UserId = int.Parse(userIdString);
                }
            }
            // load orders
            if (UserId > 0)
                await orderService.GetOrdersAsync(UserId);

            IsRended = true;
            StateHasChanged();
        }
    }
    // more load
    private bool IsOrdersLoading { get; set; } = false;
    private bool AllItemsLoaded { get; set; } = false;
    private async Task OnMoreLoad()
    {
        IsOrdersLoading = true;
        StateHasChanged();
        if (UserId > 0)
        {
            var result = await orderService.GetOrdersAsync(UserId);

            if (result.Result && result.Message == "AllItemsLoaded")
            {
                AllItemsLoaded = true;
            }
        }
        IsOrdersLoading = false;
        StateHasChanged();
    }
    // On Product Click
    private void OnProduct(int ProductId)
    {
        NavigationManager.NavigateTo($"/ProductPage/{ProductId}", true);
    }
    // empty orders
    private void OnBackToShop()
    {
        NavigationManager.NavigateTo("/",false);
    }
    // status
    private async Task ToggleDropdown(Order order)
    {
        await GetPossibleStatuses(order);
        order.ShowStatusDropdown = true;
    }
    private List<OrderStatus> PossibleStatuses = new();
    private async Task GetPossibleStatuses(Order order)
    {
        PossibleStatuses = new();
        // load orderStatusList
        var result = await orderService.GetOrderStatusAsync();
        if (result.Result)
        {

            foreach (var item in orderService.DownloadedOrderStatus)
            {
                // add aktuelle status
                if (item.Id == order.StatusId)
                {
                    PossibleStatuses.Insert(0, item);
                }
                // der Benutzer darf es stornieren oder abschlißen wenn die Bestellung von das Laden abgeholt werden muss
                if ((order.StatusId > 0 && order.StatusId <= 3) && order.PaymentMethodId == 1)
                {
                    if (item.Id == 7 || item.Id == 8)
                    {
                        PossibleStatuses.Add(item);
                    }
                }
				// der benutzer darf es abschlißen oder stornieren wenn die bestellung durch unsere Liefservice zugestellt wird
                else if((order.StatusId > 0 && order.StatusId <= 3) && order.PaymentMethodId == 2)
				{
					if (item.Id == 7 || item.Id == 8)
					{
						PossibleStatuses.Add(item);
					}
				}
                // der benutzer darf stornieren, abschlißen oder zugestellt wenn die nicht versendet ist
                else if (order.StatusId > 0 && order.StatusId <= 3)
                {
                    if (item.Id == 8 || item.Id == 6 || item.Id == 7)
                    {
                        PossibleStatuses.Add(item);
                    }
                }
                // der benutzer darf zurücksetzen oder abschließen wenn die versendet ist
                else if (order.StatusId >= 4 && order.StatusId <= 6)
                {
                    if (item.Id == 9 || item.Id == 7)
                    {
                        PossibleStatuses.Add(item);
                    }
                }
            }
        }
        else
        {
            _ = JS.InvokeVoidAsync("alert", result.Message);
        }
    }
    void OnDropdownBlur(Order order)
    {
        order.ShowStatusDropdown = false;
        StateHasChanged();
    }
    private async Task OnStatusChangedItem(Order order, string newStatusIdString)
    {
        bool confirmed = await JS.InvokeAsync<bool>("showConfirm", L["StatusChangeConfirm"].ToString());
        if (confirmed)
        {
            order.IsUpdatingStatus = true;
            StateHasChanged();
            if (int.TryParse(newStatusIdString, out int newStatusId))
            {
                var result = await orderService.UpdateStatusOrderAsync(order.Id, newStatusId);
                if (result.Result)
                {
                    // update order status
                    order.StatusId = newStatusId;
                    order.Status = PossibleStatuses.FirstOrDefault(s => s.Id == newStatusId);
                    // hide dropdown
                    order.ShowStatusDropdown = false; 
                }
                else
                {
                    _ = JS.InvokeVoidAsync("alert", result.Message);
                }
            }
            else
            {
                _ = JS.InvokeVoidAsync("alert", "InvalidStatus");
            }

        }
        order.IsUpdatingStatus = false;
    }
    // discount
    private double GetDiscountedValue(Order order)
    {
        if (order.DiscountCategory != null)
        {
            double categoryitemsPrice = 0;
            foreach (var item in order.OrderItems)
            {
                if (item.Product!.CategoryId == order.DiscountCategory.CategoriesId)
                {
                    categoryitemsPrice += (int)(item.Product.SalePrice * item.Quantity);
                }
            }
            double originalCateoryPrice = categoryitemsPrice / (1 - (order.DiscountCategory.DiscountPercentage / 100.0));
            double categoryDiscountValue = categoryitemsPrice * (order.DiscountCategory.DiscountPercentage / 100.0);
            var categoryName = order.DiscountCategory.Category.Name_de;

            return categoryDiscountValue;
        }
        else if (order.DiscountCode != null)
        {
            return order.TotalPrice / (1 - (order.DiscountCode.DiscountPercentage / 100.0)) - order.TotalPrice;
        }
        return order.TotalPrice;
    }
 }

