@page "/ProductPage/{ProductId:int}"
@inject IStringLocalizer< WAHShopForntend.Resources.ProductPage> L
@implements IDisposable

<HeadContent>
	<PageTitle>
		@(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
				? product?.Name_ar + " | " + ProjectInfo.Value.NameArabic
				: product?.Name_de + " | " + ProjectInfo.Value.Name)
	</PageTitle>
	<meta name="description" content="@(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
        ? product?.Description_ar
        : product?.Description_de)" />
	<meta name="keywords" content="@(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
        ? product?.Name_ar + ",لويتكرش, متجر سيريانا, محل عربي في ليوتكرش, متجر عربي, محل عربي, سوبر ماركت عربي, مواد غذائية"
        : product?.Name_de + ", Syriana Leutkirch, Syriana Supermarkt, arabische Supermarkt, Lebensmittel, arabische Lebensmittel, arabisches Laden, arabisches Laden in Leutkirhc")" />

    <!-- Structured Data -->
    @if (product != null)
    {
	  string? productName = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar" ? product.Name_ar : product.Name_de;
		string? productDescription = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar" ? product.Description_ar : product.Description_de;
		string? availability = (product.Quantity > 0 ? "https://schema.org/InStock" : "https://schema.org/OutOfStock");

		<script type="application/ld+json">
			  @((MarkupString)$@"{{
		""@context"": ""https://schema.org"",
		""@type"": ""Product"",
		""name"": ""{productName}"",
		""description"": ""{productDescription}"",
		""image"": ""{productImagesService.GetProductImageUrl(product?.ProductImages.FirstOrDefault(i => i.IsMain) ?? null!)}"",
		""offers"": {{
							""@type"": ""Offer"",
							""url"": ""{NavigationManager.Uri}"",
							""priceCurrency"": ""EUR"",
							""price"": ""{(product?.SalePrice ?? 0):0.00}"",
							""availability"": ""{availability}"",
		                    ""itemCondition"": ""https://schema.org/NewCondition""

						}}
	             	}}
				}}"))
		</script>
    }
</HeadContent>


@if (isLoading)
{
	<div class="lodingContainer">
		<p>@L["Loading"]</p>
	</div>
}
else
{

	@if (product == null)
	{
		<p>Product not found.</p>
	}
	else
	{
		<div class="productDetails">
			<div class="ImageSection">
				<img class="zoomableImage" @onclick="OpenImage" src="@productImagesService.GetProductImageUrl(product.ProductImages.FirstOrDefault(i => i.IsMain)!)" alt="@product.Name_de" />
				@if (ShowFullImage)
				{
					<div loading="lazy" class="modalOverlay" @onclick="CloseImage">
						<img class="modalImage"
						src="@productImagesService.GetProductImageUrl(product.ProductImages.FirstOrDefault(i => i.IsMain)!)"
						alt="Image of Product"
						@onclick:stopPropagation />
					</div>
				}
			</div>
			<div class="InfoSection">
				<WAHShopForntend.Components.Layout.ShareLayout Product="product" />

				<h2 class="productTitle">
					@(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
					? product.Name_ar
					: product.Name_de)
				</h2>
				<p class="productDescription">
					@(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
					? product.Description_ar
					: product.Description_de)
				</p>
				<div class="productPrice"> <WAHShopForntend.Components.Layout.PriceLayout ProductId="product.Id" /> </div>
				@if (product.ProductGroup != null && groupProducts != null && groupProducts.Count > 0)
				{
					<select class="form-select" style="max-width:400px;" @onchange="OnGroupChanged">
						<option value="0">@(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
							? product.ProductGroup.GroupName_ar
							: product.ProductGroup.GroupName_de)
						</option>
						@foreach (var groupProduct in groupProducts)
						{
							<option value="@groupProduct.Id">@(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
					        ? groupProduct.Name_ar
					        : groupProduct.Name_de)
							</option>
						}
					</select>
				}
				<div class="DivQuantity">
					<WAHShopForntend.Components.Layout.AddDecresaseCard ProductId="@product.Id" />
				</div>
				<p class="text-secondary fw-semibold">
					@if (product.IsShippable)
					{
						<i class="bi bi-box-fill text-warning"> </i> @(" " + L["IsShippable"])
					}
					else
					{
						<i class="bi bi-slash-circle-fill text-warning"></i> @(" " + L["IsNotShippable"])
					}
				</p>
			</div>
		</div>
	}
	@* random categorys *@
	@for (int x = 0; x < mainProductByCategory.Count; x++)
	{

		// category
		var category = mainProductByCategory[x].Category;
		<div class="category">
			<p>
				@(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
				? category.Name_ar
				: category.Name_de)
			</p>
		</div>
		<div class="mainProductsCard">

			@for (int i = 0; i < mainProductByCategory[x].Products.Count; i++)
			{
				// product
				var product = mainProductByCategory[x].Products[i];

				<div class="productsCard">
					<WAHShopForntend.Components.Layout.ShareLayout Product="product" />
					<WAHShopForntend.Components.Layout.ProductInfo ProductId="@product.Id" />
					<WAHShopForntend.Components.Layout.AddDecresaseCard ProductId="@product.Id" />
				</div>
			}

		</div>
	}

}
@code {
	[Parameter]
	public int ProductId { get; set; }
	private Product? product;
	private List<Product>? groupProducts = new ();
	private bool isLoading = true;
	// to exclude categories already loaded in the main product list
	private List<int> excludeCategoriesIds = new();
	//
	private List<Categories> allCategories = new();
	private Random random = new();
	// product by caegory for products card
	private List<ProductByCategory> mainProductByCategory = new();
	protected override async Task OnInitializedAsync()
	{
		isLoading = true;
		// get product by id
		List<Task> tasks = new();
		product = productService.GetProductByIdLocal(ProductId)
					?? await productService.GetProductByIdAsync(ProductId);
		if (product != null)
		{
			product.InitializeCartItem(cartService.GetQuantityOfProduct(product.Id));
			// add to local product list if not already present
			productService.AddProductToLocal(product);
			// add category id to exclude list
			excludeCategoriesIds.Add(product?.CategoryId ?? 0);

			// get group products if exists
			if (product != null && product.ProductGroupID.HasValue && product.ProductGroupID.Value > 0)
			{
				tasks.Add(LoadGroupProducts(product.ProductGroupID.Value));
			}
		}
		// get product by categoryId
		tasks.Add(MoreProductsOfSameCategory(product?.CategoryId ?? 0, product?.Category ?? null));
		// get all categories
		allCategories = categoryService.GetAllCategoriesLocal()
							?? await categoryService.GetAllCategoriesAsync();
		// die Tasks ausführen
		await Task.WhenAll(tasks);


		isLoading = false;
	}
	private DotNetObjectReference<ProductPage>? objRef;
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			// Das Donnet-Objekt für die Verwendung in JavaScript abrufen
			objRef = DotNetObjectReference.Create(this);
			// Eine kurze Verzögerung, um sicherzustellen, dass das ScrollContainer-Element vollständig im DOM gezeichnet wird.
			await Task.Delay(100);
			// Setzen Sie das Objekt von donNet in JavaScript und die ID:checkScrollEnd und rufen Sie die Funktion checkScrollEnd aus JavaScript ab.
			await JS.InvokeVoidAsync("scrollHelper.onScrollEnd", objRef);
		}
	}
	private async Task MoreProductsOfSameCategory(int categoryId,Categories? category = null)
	{
		List<Product> allProducts = new();
		List<int> excludeProductsIds = new();
		// add current product id to exclude list
		excludeProductsIds.Add(ProductId);
		try
		{
			if (category == null)
			{
				category = categoryService.GetCategoryByIdLocal(categoryId)
						??await categoryService.GetCategoryByIdAsync(categoryId);
				if (category == null)
					return; // category not found
			}

			// get products local
			var productsLocal =  categoryService.GetProductByCategoryIdLocal(category.Id, excludeProductsIds);
			if (productsLocal != null && productsLocal.Count > 0)
			{
				// initialize CartItem for each product
				foreach (var p in productsLocal)
				{
					p.InitializeCartItem(cartService.GetQuantityOfProduct(p.Id));
					excludeProductsIds!.Add(p.Id);
				}

				allProducts.AddRange(productsLocal);

			}
			// get products server
			var productsServer = await categoryService.GetProductsByCategoryIdAsync(category.Id, 5, false, excludeProductsIds);
			if (productsServer != null && productsServer.Items != null && productsServer.Items.Count > 0)
			{
				// initialize CartItem for each product
				foreach (var p in productsServer.Items)
				{
					p.InitializeCartItem(cartService.GetQuantityOfProduct(p.Id));
					excludeProductsIds!.Add(p.Id);
				}

				allProducts.AddRange(productsServer.Items);

				// add to local Products list
				productService.AddProductToLocal(productsServer.Items);
			}
			else if (productsServer != null && productsServer.AllItemsLoaded)
			{

			}
			// add to main list
			if (allProducts.Count > 0)
			{
				mainProductByCategory.Add(new ProductByCategory() { Category = category, Products = allProducts });
			}
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Error in MoreProductsOfSameCategory: {ex.Message}");
		}
	}
	// random products by category
	public async Task LoadRandomProductsByCategory(List<Categories> Categories)
	{
		int currentIndex = 0;

		foreach (var category in Categories)
		{
			List<int> excludeProductsIds = new();
			// get products local
			var productsLocal =  categoryService.GetProductByCategoryIdLocal(category.Id, excludeProductsIds);
			if (productsLocal != null && productsLocal.Count > 0)
			{
				// initialize CartItem for each product
				foreach (var p in productsLocal)
				{
					p.InitializeCartItem(cartService.GetQuantityOfProduct(p.Id));
					excludeProductsIds!.Add(p.Id);
				}
				mainProductByCategory.Add(new ProductByCategory() { Category = category, Products = productsLocal });
				currentIndex = mainProductByCategory.FindIndex(c => c.Category.Id == category.Id);
			}

			// get products server
			var productsServer = await categoryService.GetProductsByCategoryIdAsync(category.Id,5,false, excludeProductsIds);
			if (productsServer != null && productsServer.Items != null && productsServer.Items.Count > 0)
			{
				// initialize CartItem for each product
				foreach (var p in productsServer.Items)
				{
					p.InitializeCartItem(cartService.GetQuantityOfProduct(p.Id));
					excludeProductsIds!.Add(p.Id);
				}


				// if 0 than semply add, otherwise insert to mainProductByCategory at current index
				if (currentIndex == 0)
					mainProductByCategory.Add(new ProductByCategory() { Category = category, Products = productsServer.Items });
				else
					mainProductByCategory.Insert(currentIndex, new ProductByCategory() { Category = category, Products = productsServer.Items });

				// add to local Products list
				productService.AddProductToLocal(productsServer.Items);
			}
			else if (productsServer != null && productsServer.AllItemsLoaded)
			{

			}

			// add category id to exclude list
			excludeCategoriesIds.Add(category.Id);
		}
	}
	// Image zoom 
	bool ShowFullImage = false;

	void OpenImage() => ShowFullImage = true;
	void CloseImage() => ShowFullImage = false;
	// On Product Click
	private void OnProduct(int ProductId)
	{
		NavigationManager.NavigateTo($"/ProductPage/{ProductId}", true);
	}
	// groupProducts
	private List<int> excludeProductsIdsGroupProducts = new();
	private async Task LoadGroupProducts(int groupId)
	{
		// current product excelude
		excludeProductsIdsGroupProducts.Add(product!.Id );

		// get from local
		var groupProductsLocal = productService.GetProductByGroupIdLocal(groupId, excludeProductsIdsGroupProducts);
		if (groupProductsLocal != null && groupProductsLocal.Count > 0)
		{
			foreach (var groupProduct in groupProductsLocal)
			{
				groupProduct.InitializeCartItem(cartService.GetQuantityOfProduct(groupProduct.Id));
				// add to exclude list
				excludeProductsIdsGroupProducts.Add(groupProduct.Id);
			}
			// add to groupProducts of page
			this.groupProducts!.AddRange(groupProductsLocal);
		}
		// get from server
		var groupProductsServer = await productGroupService.GetProductsByGroupProductsIdAsynce(groupId, excludeProductsIdsGroupProducts);
		if (groupProductsServer != null && groupProductsServer.Count > 0)
		{
			foreach (var groupProduct in groupProductsServer)
			{
				groupProduct.InitializeCartItem(cartService.GetQuantityOfProduct(groupProduct.Id));
			}

			productService.AddProductToLocal(groupProductsServer);

			// add to groupProducts of page
			this.groupProducts!.AddRange(groupProductsServer);
		}
	}
	// change 
	private void OnGroupChanged(ChangeEventArgs e)
	{
		if (int.TryParse(e.Value?.ToString(), out int selectedGroupId) && selectedGroupId > 0)
		{
			NavigationManager.NavigateTo($"/ProductPage/{selectedGroupId}", true);
		}
	}
	// Scroll
	private bool IsScrollLoading = false;
	private static readonly SemaphoreSlim _scrollLock = new(1, 1);
	[JSInvokable]
	public async Task OnScrollEndReached()
	{
		if (!_scrollLock.Wait(0))
			return;
		try
		{
			if (IsScrollLoading == true)
				return;

			IsScrollLoading = true;
			if (allCategories.Count >= 1)
			{
				// get recommended products
				List<Categories> categories = await categoryService.GetRandomCategories(1, excludeCategoriesIds, random);
				// Diese Kategorien beim nächsten Ladevorgang ausschließen
				excludeCategoriesIds.AddRange(categories.Select(s => s.Id));
				// load random products
				await LoadRandomProductsByCategory(categories);
			}

			StateHasChanged();
		}
		finally
		{
			IsScrollLoading = false;
			_scrollLock.Release();
		}
	}
	public void Dispose()
	{
		objRef?.Dispose();
		objRef = null;
	}
}
