@page "/ProductsByCategory/{CategoryId:int}"
@using System.Security.Claims
@inject IStringLocalizer< WAHShopForntend.Resources.ProductsByCategory> L


<HeadContent>

	<!-- Page Title -->
	<PageTitle>
		@(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "de"
				? category.Name_de
				: category.Name_ar)
	</PageTitle>

	<!-- Meta Description -->
	<meta name="description" content="@(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "de"
    ? $"Entdecken Sie unsere Kategorie {category.Name_de}: hochwertige arabische Lebensmittel online kaufen."
    : $"اكتشف فئة {category.Name_ar}: أفضل المنتجات العربية والسورية للشراء عبر الإنترنت.")" />


	<!-- Meta Keywords -->
	<meta name="keywords" content="@(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "de"
        ?  $"{category.Name_de}, arabische Lebensmittel, syrische Produkte"
        :  $"{category.Name_ar}, مواد غذائية, منتجات سورية, تسوق أونلاين")" />
</HeadContent>

@if (!IsLoading)
{

}
else
{
	<div class="mainContainer">
		<h3 class="@(CategoryId == -1 ? "text-danger" : "text-dark")">
			@if (CategoryId != -1)
			{
				@(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
						? category?.Name_ar ?? ""
						: category?.Name_de ?? "")
			}
			else
			{
				@L["OnOffer"]
			}
		</h3>
		<div class="productItems">
			@foreach (var product in products)
			{
				<div class="cardProduct">
					<WAHShopForntend.Components.Layout.ShareLayout Product="product" />
					<WAHShopForntend.Components.Layout.ProductInfo ProductId="@product.Id" />
					<WAHShopForntend.Components.Layout.AddDecresaseCard ProductId="@product.Id" />
				</div>
			}
		</div>
		<div class="moreLoadContainer">
			@if (products.Count > 0)
			{
				<button type="submit" class="btn btn-primary" @onclick="OnMoreLoad" disabled="@(IsOrdersLoading || AllItemsLoaded)">
					@if (IsOrdersLoading)
					{
						<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
						<span class="ms-2">@L["LoadingButton"]</span>
					}
					else if (!AllItemsLoaded)
					{
						<span>@L["LoadMore"]</span>
					}
					@if (AllItemsLoaded)
					{
						<span>@L["AllItemsLoaded"]</span>
					}
				</button>
			}
			else
			{
				@if (CategoryId != -1)
				{
					<span class="NoItemsFound">@L["NoItemsFound"]</span>
				}
				else
				{
					<span class="NoOffersFound">@L["NoOffersFound"]</span>
				}
			}

		</div>
	</div>
}
@code {
	[Parameter] public int CategoryId { get; set; }
	private bool IsLoading = true;
	private List<Product> products = new();
	private Categories category = new();

	protected override async Task OnInitializedAsync()
	{
		IsLoading = false;
		await MoreProductsload(false);
		// get all categories
		category = categoryService.GetCategoryByIdLocal(CategoryId) ?? await categoryService.GetCategoryByIdAsync(CategoryId);
		IsLoading = true;
	}
	private List<int>? excludeProductsIds = new();
	private async Task MoreProductsload(bool IfOnMoreProductsLoad)
	{
		// -1 is for OnOffer
		if (!IfOnMoreProductsLoad)
		{
			// check if product local exist To relieve pressure on the server
			var productsLocal =  categoryService.GetProductByCategoryIdLocal(CategoryId);

			if (productsLocal != null && productsLocal.Count > 0)
			{
				// initialize CartItem for each product
				foreach (var p in productsLocal)
				{
					p.InitializeCartItem(cartService.GetQuantityOfProduct(p.Id));
					excludeProductsIds!.Add(p.Id);
				}
				products.AddRange(productsLocal);
			}
		}
		// from Server
		var productsServer = await categoryService.GetProductsByCategoryIdAsync(CategoryId, 7, null, excludeProductsIds);
		if (productsServer != null && productsServer.Items != null && productsServer.Items.Count > 0)
		{
			// initialize CartItem for each product
			foreach (var p in productsServer.Items)
			{
				p.InitializeCartItem(cartService.GetQuantityOfProduct(p.Id));
				excludeProductsIds!.Add(p.Id);
			}

			products.AddRange(productsServer.Items);


			// add to local Products list
			_ = Task.Run(() =>
			{
				productService.AddProductToLocal(products);
			});
		}
		else if (productsServer != null && productsServer.AllItemsLoaded)
			AllItemsLoaded = true;
	}
	// OnMoreLoad
	private bool IsOrdersLoading = false;
	private bool AllItemsLoaded = false;
	private async Task OnMoreLoad()
	{
		if (IsOrdersLoading)
			return;

		IsOrdersLoading = true;
		await MoreProductsload(true);
		IsOrdersLoading = false;
	}
	// On Product Click
	private void OnProduct(int ProductId)
	{
		NavigationManager.NavigateTo($"/ProductPage/{ProductId}", true);
	}
}
