@page "/ProductsByCategory/{CategoryId:int}"
@inject IStringLocalizer< WAHShopForntend.Resources.ProductsByCategory> L
@if (!IsLoading)
{
	<div class="lodingContainer">
		<p>@L["Loading"]</p>
	</div>
}
else
{
		<h3>
			@(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
					? allCategories.Find(s => s.Id == CategoryId)?.Name_ar ?? ""
					: allCategories.Find(s => s.Id == CategoryId)?.Name_de ?? "")
		</h3>
		<div class="productItems">
			@foreach (var product in products)
			{
				// cart product, bind with productId,quantity and product, the in OnInititalized configured.
				var cartItem = product.CartItem;
				<div class="cardProduct">
					<img @onclick="() => OnProduct(product.Id)" src="data:image/jpeg;base64,@Convert.ToBase64String(product.Image ?? Array.Empty<byte>())" alt="@product.Name_de" />
					<div @onclick="() => OnProduct(product.Id)" class="textCard">
						<a>
							@(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
														? product.Name_ar
														: product.Name_de)
						</a>
						<p>@product.SalePrice.ToString("C", new System.Globalization.CultureInfo("de-DE"))</p>
					</div>
					<div class="cartItems">
						<button class="btn @(cartService.IsProductAdded(cartItem.ProductId) ? "btnProductAdded" : "btnProduct")"
						@onclick="() => CartChanged(cartItem)">
							@(cartService.IsProductAdded(cartItem.ProductId) ? $"➕({cartService.GetQuantityOfProduct(cartItem.ProductId)})" : "🛒")
						</button>
						<InputNumber @bind-Value="cartItem.Quantity" Min="0" class="QuantityInput" />
					</div>
				</div>
			}
		</div>
		<div class="moreLoadContainer">
			<button type="submit" class="btn btn-primary" @onclick="OnMoreLoad" disabled="@(IsOrdersLoading || AllItemsLoaded)">
				@if (IsOrdersLoading)
				{
					<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
					<span class="ms-2">@L["LoadingButton"]</span>
				}
				else if (!AllItemsLoaded)
				{
					<span>@L["LoadMore"]</span>
				}
				@if (AllItemsLoaded)
				{
					<span>@L["AllItemsLoaded"]</span>
				}
			</button>
		</div>
}
@code {
	[Parameter] public int CategoryId { get; set; }
	private bool IsLoading = true;
	private List<Product> products = new();
	private List<Categories> allCategories = new();
	protected override async Task OnInitializedAsync()
	{
		IsLoading = false;
		await MoreProductsload(false);
		// get all categories
		allCategories = categoryService.GetAllCategoriesLocal();
		IsLoading = true;
	}
	private List<int>? excludeProductsIds = new();
	private async Task MoreProductsload(bool IfOnMoreProductsLoad)
	{
		if (!IfOnMoreProductsLoad)
		{
			// check if product local exist To relieve pressure on the server
			var productsLocal = await productService.GetProductByCategoryIdLocal(CategoryId);

			if (productsLocal != null && productsLocal.Count > 0)
			{
				// initialize CartItem for each product
				foreach (var p in productsLocal)
				{
					p.InitializeCartItem(cartService.GetQuantityOfProduct(p.Id));
					excludeProductsIds!.Add(p.Id);
				}
				products.AddRange(productsLocal);
			}
		}
		// from Server
		var productsServer = await categoryService.GetProductsByCategoryIdAsync(CategoryId,10,null, excludeProductsIds);
		if (productsServer!= null && productsServer.Items != null && productsServer.Items.Count > 0)
		{
			// initialize CartItem for each product
			foreach (var p in productsServer.Items)
			{
				p.InitializeCartItem(cartService.GetQuantityOfProduct(p.Id));
				excludeProductsIds!.Add(p.Id);
			}

			products.AddRange(productsServer.Items);


			// add to local Products list
			_ = Task.Run(() =>
			{
				productService.AddProductToLocal(products);
			});
		}
		else if (productsServer != null && productsServer.AllItemsLoaded)
		{
			AllItemsLoaded = true;
		}
	}
	// OnMoreLoad
	private bool IsOrdersLoading = false;
	private bool AllItemsLoaded = false;
	private async Task OnMoreLoad()
	{
		IsOrdersLoading = true;
		await MoreProductsload(true);
		IsOrdersLoading = false;
	}
	// On Product Click
	private void OnProduct(int ProductId)
	{
		NavigationManager.NavigateTo($"/ProductPage/{ProductId}", true);
	}
	// Cart
	private void CartChanged(CartItem cartItem)
	{
		if (!cartService.IsQuantityZero(cartItem))
			cartService.AddToCart(cartItem);
	}
}
