@page "/ProductsByCategory/{CategoryId:int}"
@using System.Security.Claims
@inject IStringLocalizer< WAHShopForntend.Resources.ProductsByCategory> L


@if (!IsLoading)
{

}
else
{
	<div class="mainContainer">
    	<h3>
		@(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
																	? allCategories.Find(s => s.Id == CategoryId)?.Name_ar ?? ""
																	: allCategories.Find(s => s.Id == CategoryId)?.Name_de ?? "")
	   </h3>
       <div class="productItems">
		@foreach (var product in products)
		{
			<div class="cardProduct">
				<WAHShopForntend.Components.Layout.ProductInfo ProductId="@product.Id" />
				<WAHShopForntend.Components.Layout.AddDecresaseCard ProductId="@product.Id" />
			</div>
		}
    	</div>
	    <div class="moreLoadContainer">
		@if (products.Count > 0)
		{
			<button type="submit" class="btn btn-primary" @onclick="OnMoreLoad" disabled="@(IsOrdersLoading || AllItemsLoaded)">
				@if (IsOrdersLoading)
				{
					<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
					<span class="ms-2">@L["LoadingButton"]</span>
				}
				else if (!AllItemsLoaded)
				{
					<span>@L["LoadMore"]</span>
				}
				@if (AllItemsLoaded)
				{
					<span>@L["AllItemsLoaded"]</span>
				}
			</button>
		}
		else
		{
			@if (CategoryId != -1)
			{
				<span class="NoItemsFound">@L["NoItemsFound"]</span>
			}
			else
			{
				<span class="NoOffersFound">@L["NoOffersFound"]</span>
			}
		}

	    </div>
	</div>
}
@code {
	[Parameter] public int CategoryId { get; set; }
	private bool IsLoading = true;
	private List<Product> products = new();
	private List<Categories> allCategories = new();

	protected override async Task OnInitializedAsync()
	{
		IsLoading = false;
		await MoreProductsload(false);
		// get all categories
		allCategories = categoryService.GetAllCategoriesLocal();
		IsLoading = true;
	}
	private List<int>? excludeProductsIds = new();
	private async Task MoreProductsload(bool IfOnMoreProductsLoad)
	{
		// -1 is for OnOffer
		if (!IfOnMoreProductsLoad)
		{
			// check if product local exist To relieve pressure on the server
			var productsLocal =  categoryService.GetProductByCategoryIdLocal(CategoryId);

			if (productsLocal != null && productsLocal.Count > 0)
			{
				// initialize CartItem for each product
				foreach (var p in productsLocal)
				{
					p.InitializeCartItem(cartService.GetQuantityOfProduct(p.Id));
					excludeProductsIds!.Add(p.Id);
				}
				products.AddRange(productsLocal);
			}
		}
		// from Server
		var productsServer = await categoryService.GetProductsByCategoryIdAsync(CategoryId, 7, null, excludeProductsIds);
		if (productsServer != null && productsServer.Items != null && productsServer.Items.Count > 0)
		{
			// initialize CartItem for each product
			foreach (var p in productsServer.Items)
			{
				p.InitializeCartItem(cartService.GetQuantityOfProduct(p.Id));
				excludeProductsIds!.Add(p.Id);
			}

			products.AddRange(productsServer.Items);


			// add to local Products list
			_ = Task.Run(() =>
			{
				productService.AddProductToLocal(products);
			});
		}
		else if (productsServer != null && productsServer.AllItemsLoaded)
			AllItemsLoaded = true;
	}
	// OnMoreLoad
	private bool IsOrdersLoading = false;
	private bool AllItemsLoaded = false;
	private async Task OnMoreLoad()
	{
		if (IsOrdersLoading)
			return;

		IsOrdersLoading = true;
		await MoreProductsload(true);
		IsOrdersLoading = false;
	}
	// On Product Click
	private void OnProduct(int ProductId)
	{
		NavigationManager.NavigateTo($"/ProductPage/{ProductId}", true);
	}
}
