@page "/signup"
@using System.ComponentModel.DataAnnotations;
@using WAHShopForntend.Components.Login;
@inject IStringLocalizer< WAHShopForntend.Resources.Signup> L

<div class="signupContainer">
    <div class="signupForm">
        <h2 @onclick="OnProjectInfo">@ProjectInfo.Value.Name</h2>
        <h3 class="title">@L["SignupText"]</h3>
        <EditForm Model="@signupModel" OnValidSubmit="@HandleSubmit" FormName="signup">
            <DataAnnotationsValidator />
            <div class="form-group mt-3">
                <InputText @bind-Value="signupModel.UserName" placeholder="@L["NamePlaceholder"]" class="form-control" />
                <ValidationMessage For="@(() => signupModel.UserName)" />
            </div>
            <div class="form-group mt-3">
                <InputText @bind-Value="signupModel.Email" placeholder="@L["EmailPlaceholder"]" type="email" class="form-control" />
                <ValidationMessage For="@(() => signupModel.Email)" />
            </div>
            <div class="form-group mt-3">
                <label>@L["BirthDateLabel"]</label>
                <InputText @bind-Value="signupModel.BirthDate" type="date" class="form-control" />
                <ValidationMessage For="@(() => signupModel.BirthDate)" />
            </div>
            <div class="form-group mt-3">
                <InputText @bind-Value="signupModel.Password" placeholder="@L["PasswordPlaceholder"]" type="password" class="form-control" />
                <ValidationMessage For="@(() => signupModel.Password)" />
            </div>
            <div class="form-group mt-3">
                <InputText @bind-Value="signupModel.PasswordAgain" placeholder="@L["PasswordAgainPlaceholder"]" type="password" class="form-control" />
                <ValidationMessage For="@(() => signupModel.PasswordAgain)" />
            </div>
            <button type="submit">@L["Register"]</button>
        </EditForm>
        <div class ="loginLink">
            @L["AlreadyRegisteredText"]
            <a href="/login">@L["LoginText"]</a>
        </div>
    </div>
</div>

@code {
    private SignupModel signupModel = new();

    private async Task HandleSubmit()
    {
		signupModel.SignupProvider = "Manual"; // Set the signup provider to Manual
        var result = await AuthService!.Signup(signupModel);
        if (result.Result == true)
        {
            await JS.InvokeVoidAsync("showAlert", result.Message);
            NavigationManager!.NavigateTo("/login");
        }
        else
        {
            _ = JS.InvokeVoidAsync("showAlert", result.Message);
            signupModel.PasswordAgain = string.Empty; // Clear the password confirmation field
        }
    }
  
    private void OnProjectInfo()
    {
        NavigationManager.NavigateTo("/", false);
    }
}
